body {
    font-family: "helvetica";
    margin-top: -45px;
}

h4 span {
    font-size:14px;
    font-weight:normal;
}
  
h2 {
    float: right;
  }
  
h2 span {
    font-size:14px;
    font-weight:normal;
}

#map {
    width: 650px;
    height: 450px;
}